.flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}
.game {
  display: flex;
  flex-direction: column;
}

.board {
  background-color: navy;
  width: 250px;
  height: 250px;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  grid-template-rows: repeat(3, 30%);
  justify-content: space-between;
  align-content: space-between;
}

.square {
  background-color: white;
}

.controls {
  margin: 1em;
}
